@model CinemaPortal_ASP.NET_Core.ViewModels.ManageAccountViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Имя:</dt>
        <dd>@Model.UserName [@Html.ActionLink("Редактировать имя", "ChangeUserName")]</dd>
        <dt>Email:</dt>
        <dd>@Model.Email [@Html.ActionLink("Редактировать email", "ChangeEmail")]</dd>
        
        <dt>Пароль:</dt>
        <dd>[@Html.ActionLink("Смена пароля", "ChangePassword")]
        </dd>
    </dl>
</div>
